{% extends "base.html" %}
{% block title %}My Appointments{% endblock %}

{% block content %}
<div class="appointments-wrapper">
    <div class="appointments-card">

        <div class="header">
            <h1>My Appointments</h1>
            <p>Manage all your appointments</p>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>APT{{ appointment.id }}</td>

                        <td>
                            <strong>Dr. {{ appointment.doctor.get_full_name }}</strong>
                        </td>

                        <td>
                            {{ appointment.start_datetime|date:"Y-m-d" }}
                        </td>

                        <td>
                            {{ appointment.start_datetime|time:"h:i A" }}
                        </td>

                        <td>
                            <span class="status {{ appointment.status|lower }}">
                                {{ appointment.status }}
                            </span>
                        </td>
                        <td>
                            {% if appointment.status == 'REQUESTED' or appointment.status == 'CONFIRMED' %}

                                <form method="POST"
                                      action="{% url 'cancel_appointment' appointment.id %}"
                                      style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="cancel-btn"
                                        onclick="return confirm('Are you sure you want to cancel this appointment?');">
                                        Cancel
                                    </button>
                                </form>

                                <!-- Reschedule -->
                                 <form method="POST"
                                      action="{% url 'reschedule_appointment' appointment.id %}"
                                      style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="reschedule-btn"
                                        onclick="return confirm('Are you sure you want to reschedule this appointment?');">
                                        Reschedule
                                    </button>
                                </form>

                            {% elif appointment.status == 'CANCELLED' %}

                        

                                <!-- Delete Button -->
                                <form method="POST"
                                      action="{% url 'delete_appointment' appointment.id %}"
                                      style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="cancel-btn"
                                        onclick="return confirm('Delete this appointment permanently?');">
                                        Delete
                                    </button>
                                </form>

                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan="6" class="empty">
                            No appointments found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>
{% endblock %}

